hyprland
hypridle
hyprlock
hyprctl
hyprpaper
wofi
swaync
hyprshot(yay)

#Screenshare
xdg-desktop-portal-hyprland
wireplumber
grim
slurp

#brightness and Sound Control
pavucontrol
brightnessctl

# System Themes
lxappearance
qt5ct
qt6ct
qt5-wayland
qt6-wayland
gnome-themes-extra

# Clipboard
wl-clipboard
cliphist

# Network
networkmanager

# Bluetooth
blueman
